// // Settings
@font-face {
  font-family: 'Galatia SIL';
  src: url('https://www.chenhuijing.com/demos/grids-tycho/fonts/galsilb.eot');
  src: url('https://www.chenhuijing.com/demos/grids-tycho/fonts/galsilb.eot?#iefix') format('embedded-opentype'),
    url('https://www.chenhuijing.com/demos/grids-tycho/fonts/galsilb.woff2') format('woff2'),
    url('https://www.chenhuijing.com/demos/grids-tycho/fonts/galsilb.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$header-font: 'Galatia SIL',
Georgia,
serif;
$body-font: 'Avenir Book',
'Franklin Gothic Medium',
Helvetica,
Arial,
sans-serif;



// General styles
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: $body-font;
  color: $text;
}

.wrapper {
  main {
    max-width: 45em;
    margin: 0 auto;
    position: relative;
    padding: 1em;
  }

  _:-ms-input-placeholder,
  :root main {
    display: block;
  }

  h1 {
    font-family: $header-font;
    color: $accent;
    font-size: calc(3em + 7vw);
    margin-bottom: 0.25em;
    font-weight: bold;
  }

  h2 {
    text-transform: uppercase;
    font-size: calc(1em + 0.5vw);
    color: lighten($text, 50%);
    margin-bottom: 1em;
  }

  .about {
    line-height: 1.3;
    margin-bottom: 1em;
    text-align: justify;
  }

  a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 2em;
    font-weight: bold;
  }

  img {
    width: 90%;
    height: 100%;
    object-fit: cover;
    min-width: 300px;

  }

  .location {
    text-transform: uppercase;
    line-height: 1.5;
    font-weight: bold;
  }

  button {
    border: 0;
    text-transform: uppercase;
    font-size: 100%;
    padding: 1em 2em;
    right: 1em;
    bottom: 1em;
  }
}

.grid_title {
  grid-area: grid_title;
}

.grid_subtitle {
  grid-area: grid_subtitle;
}

.grid_image {
  grid-area: grid_image;
}

.grid_text {
  grid-area: grid_text;
}

.grid_info {
  grid-area: grid_info;
}

.grid_location {
  grid-area: grid_location;
}

.grid_link {
  grid-area: grid_link;
}

// Grid layout for wide display
@supports (display:grid) {
  .wrapper {
    padding: 20px;
    grid-gap: 20px;
    display: grid;
    grid-template-areas:
      "grid_title"
      "grid_subtitle"
      "grid_text"
      "grid_link"
      "grid_image"
      "grid_location"
      "grid_info";
  }

  @media (min-width: 780px) {
    .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "grid_image  grid_title"
        "grid_image  grid_title"
        "grid_image  grid_subtitle"
        "grid_image grid_text"
        "grid_image grid_info"
        "grid_location  grid_link";
    }

    .grid_title {
      font-size: calc(2em + 5vw);
    }

    .grid_image {
      min-width: 350px;
    }

  }

  @media (min-width: 1280px) {
    .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
        "grid_image  grid_title grid_subtitle"
        "grid_image  grid_title grid_subtitle"
        "grid_image   grid_text grid_text"
        "grid_location grid_info grid_link"
    }

    .grid_title {
      font-size: calc(2em + 3.5vw);
    }

    .grid_image {
      min-width: 525px;
    }

    .grid_subtitle {
      writing-mode: vertical-rl;
    }

  }

}

//
.cartel {
  text-align: center;

  h1 {
    font-family: $header-font;
    color: $accent;
    font-weight: bold;
  }
}

//Flex
.flex {

  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .flex-card {
    width: 100%;
  }

  @media (min-width: 768px) {

    .flex-card {
      width: 25%;
    }

  }

}

//general
/*------------------------------------*\
#GENERAL-STYLES
\*------------------------------------*/


.img-cover {

  width: 100%;
  object-fit: cover;
}

.img-footer {
  max-width: 200px;
}

.element--center {
  text-align: center;
}

.mt-7 {
  margin-top: 70px;
}

.carousel-inner {
  height: 500px;
}